*.csv
*.zip
Prestacop_NYPD_Software_Suite/.idea/
target/
project/
.ipynb_checkpoints/
.idea/
Prestacop_NYPD_Software_Suite/out/
Prestacop_NYPD_Software_Suite/project/
Prestacop_NYPD_Software_Suite/target/
